<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Weather Conditions</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Get Weather Conditions</h1>
    
    <!-- Send form to the root ("/") route with POST method -->
    <form action="/" method="POST">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <button type="submit">Submit</button>
    </form>
    
    {% if weather %}
        <h2>Weather in {{ city }}:</h2>
        <p>Temperature: {{ weather['main']['temp'] }} °F</p>
        <p>Condition: {{ weather['weather'][0]['description'] }}</p>
    {% endif %}
</body>
</html>
